// Registration
%script{"data-template-name" => "users/new", type: "text/x-handlebars"}
  %h1 Create New User
  {{sign-up-form submit="createUser" submitTitle="Register"}}

%script{"data-template-name" => "components/sign-up-form", type: "text/x-handlebars"}
  <form {{action "submit" on="submit"}}>
  %p
    %label Email {{input type="email" value=email}}
  %p
    %label Birthday {{input type="date" value=birthday}}
  %p
    %label Password {{input type="password" value=password}}
  %p
    %label Password Confirmation {{input type="password" value=password_confirmation}}

  <input class="button" type="submit" {{bind-attr value=submitTitle}}>
